@import "~gridstack/dist/gridstack.min.css";

body {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -1px;
    min-height: 0 !important;
    background: #f5f6f9;

    table.dataTable {
        margin-top: 0 !important;
    }
}

.daterangepicker {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -1px;
    color: #596080;
    font-size: 13px;

    .calendar-table {
        th {
            color: #596080;
            font-size: 13px;
        }

        td {
            color: #596080;
            font-size: 13px;

            &.active {
                color: #fff;
            }
        }
    }

    .drp-buttons {
        .btn {
            &.btn-default {
                background-color: #ffffff;
                color: #596080;
                box-shadow: 0 2px 3px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
                margin: 0 0 0 10px;

                &:hover {
                    background-color: #ffffff;
                    color: #596080;
                }
            }
        }
    }
}

.fal {
    font-family: "Font Awesome 5 Free";
    font-size: 16px;
}

.nc-icon {
    font-size: 16px;
}

.select2-selection--single {
    overflow: auto;
}

.ci {
    &.ci-dashboard {
        background: url('../images/dashboard.svg') center / contain no-repeat;
    }

    &.ci-orders {
        background: url('../images/full.svg') center / contain no-repeat;
    }

    &.ci-inventory {
        background: url('../images/import.svg') center / contain no-repeat;
    }

    &.ci-receiving {
        background: url('../images/tray.svg') center / contain no-repeat;
    }

    &.ci-returns {
        background: url('../images/return.svg') center / contain no-repeat;
    }

    &.ci-calculator {
        background: url('../images/calculator.svg') center / contain no-repeat;
    }

    &.ci-success {
        background: url('../images/success.svg') center / contain no-repeat;
    }

    &.ci-more {
        background: url('../images/more.svg') center / contain no-repeat;
    }

    &.ci-export {
        background: url('../images/export.svg') center / contain no-repeat;
    }

    &.ci-import {
        background: url('../images/import.svg') center / contain no-repeat;
    }

    &.ci-edit {
        background: url('../images/edit.svg') center / contain no-repeat;
    }
}

.widgets-container {
    padding: 0;
    margin: -15px 0 15px;

    @media (max-width: 895px) {
        margin: 0;
        padding: 0 15px;
    }

    .grid-stack {
        @media (max-width: 895px) {
            height: auto !important;
        }

        .grid-stack-item {
            @media (max-width: 895px) {
                position: relative;
                width: 100% !important;
                top: 0 !important;
                left: 0 !important;
                margin: 0 0 15px;
            }

            .grid-stack-item-content {
                inset: 15px !important;

                @media (max-width: 895px) {
                    inset: 0 !important;
                }
            }
        }
    }
}

.btn {
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: -1px;
    padding: 1.1rem 1.5rem;
    border: none;
    overflow: hidden;
    text-overflow: ellipsis;
    box-shadow: none;

    &:hover {
        transform: scale(1.025);
        box-shadow: none;
    }

    .ci {
        width: 20px;
        height: 20px;
        min-width: 0;
        margin: 0 10px 0 0;
        display: inline-block;
        vertical-align: middle;
    }

    &.btn-primary {
        .ci {
            fill: #fff;
            filter: invert(1);
        }
    }

    &.btn-sm {
        font-size: .875rem;
        line-height: 1.5;
        padding: .25rem .5rem;
        border-radius: 5px;
    }

    &.btn-group-sm {
        .btn {
            font-size: .875rem;
            line-height: 1.5;
            padding: .25rem .5rem;
            border-radius: 5px;
        }
    }

    &.remove-item,
    &.remove-order-item,
    &.remove-item-button {
        width: 30px;
        line-height: 30px;
        text-align: center;
        padding: 0;
        font-size: 26px;
        font-weight: 100;
    }

    &.remove-shipping-price-item {
        width: 40px;
        line-height: 42px;
    }
}

.shipping-price-row {
    &:last-of-type hr {
        display: none;
    }
}

.form-control {
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: 250ms;
    background: #fff;
    padding: 1rem;
    height: calc(3.5em + 2px);
    font-size: 1rem;

    &.form-control-alternative {
        border: 1px solid #fff;
        background: #fff;
    }

    &:focus {
        //box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    }

    &.form-control-sm {
        padding: 0.5rem;
        height: auto;
    }

    .ci {
        background-size: 20px auto;
        background-position: left 10px top 10px;
        background-repeat: no-repeat;
        padding-left: 30px !important;

        &.ci-search {
            background: url('../images/dashboard.svg') center / contain no-repeat;
        }
    }
}

select {
    &.form-control-sm.form-control {
        padding: 0.6rem;
    }
}

.btn-primary {
    &:hover {
        border-color: transparent;
    }
}

.btn-secondary {
    background-color: #ffffff;
    color: #596080;
    box-shadow: 0 2px 3px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);

    &:hover {
        background-color: #ffffff;
        color: #596080;
    }
}

.card {
    border-radius: 5px;
    border: none;
    box-shadow: none;
    overflow: hidden;

    h3 {
        font-size: 18px;
        font-weight: 500;
    }

    .stp {
        padding: 20px 25px;
        color: #fff;
        border-radius: 5px 0 0;
        font-size: 20px;
        font-weight: 600;
    }

    &:first-child {
    }

    &.transparent {
        background: none;
        border-width: 0;
        box-shadow: none;
        display: block;
        overflow: visible;

        &.transparent-with-border {
            border-width: 1px;
        }
    }

    .card-header {
        border: none;

        .toggle-filter-button {
            span{
                &+ span {
                    display: none;
                }
            }

            &.active {
                span{
                    display: none;

                    &+ span {
                        display: block;
                    }
                }
            }
        }
    }

    .dropzone {
        border: none;
        margin: 0 -15px;

        &.dz-started {
            .dz-message {
                display: block;
                margin: 0 15px 5px;
                padding: 2rem 1rem;
            }
        }

        .dz-message {
            margin: 0 15px;
        }

        .dz-preview {
            margin: 15px 15px 0;
            width: calc(50% - 30px);
            max-width: 250px;

            .dz-image {
                border-radius: 5px;
                width: 100%;
                z-index: 0;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .dz-progress {
                margin: 20px 0 0 -40px;
            }

            &.dz-complete {
                .dz-details {
                    display: none;
                }
            }
        }
    }

    &.dashboard-stats-card {
        &.active {
            background: #f39200;

            .card-body {
                &:before {
                    background: #fff;
                    opacity: 0.5;
                }

                .col {
                    h3 {
                        color: #fff;
                    }

                    h4 {
                        color: #fff;
                    }

                    span {
                        color: #fff;
                    }

                    i {
                        background: #fff;
                        color: #f39200;
                    }
                }
            }
        }

        .card-body {
            &:before {
                content: "";
                height: 90px;
                width: 40px;
                position: absolute;
                right: -5px;
                bottom: -30px;
                background: #f39200;
                transform: rotate(45deg);
                opacity: 0.5;
            }

            .col {
                min-height: 100px;
                display: flex;
                align-items: center;

                h3 {
                    font-weight: 400;
                    font-size: 20px;
                    margin: 0;

                    strong {
                        font-size: 26px;
                    }
                }

                h4 {
                    font-weight: 400;
                    font-size: 15px;
                    margin: 0;
                    color: #f39200;

                    strong {
                        font-size: 21px;
                    }
                }

                span {
                    color: #f39200;
                    font-size: 12px;
                    text-align: center;
                    width: 100%;
                    display: inline-block;

                    strong {
                        font-size: 14px;
                    }

                    i {
                        background: #f39200;
                        color: #fff;
                        width: 40px;
                        display: inline-block;
                        padding: 12px 0 12px;
                        border-radius: 8px;
                        margin: 0 0 10px;
                        opacity: 0.5;
                        font-size: 16px;

                        &::before {
                            transform: rotate(45deg);
                            display: block;
                        }
                    }
                }

                &+.col {
                    text-align: center;
                }
            }
        }
    }
}

.btn-custom {
    background: #fff;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: -1px;
    padding: 1.2rem 1.5rem;
    display: block;
    text-align: center;
    //box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 250ms;

    &:hover {
        transform: translateY(-1px);
        //box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    }
}


#orders-table_filter {
    display: none;
}

.header {
    background: #ffffff;
    position: fixed;
    width: calc(100% - 64px);
    height: 64px;
    top: 0;
    left: 64px;
    z-index: 4;
    transition: 250ms;
    padding: 0 30px;

    @media (max-width: 895px){
        left: 0;
        padding: 0 15px;
        width: 100%;
    }

    .logo {
        float: left;
        padding: 10px 5px;
        max-width: 150px;
        height: 65px;
        align-items: center;
        justify-content: center;
        display: none;

        img{
            height: auto;
            width: auto;
            max-width: 100%;
            max-height: 100%;
        }

        @media (max-width: 895px){
            display: flex;
        }

        @media (max-width: 500px){
            max-width: 150px;
        }
    }

    .toggle-sidebar-button {
        background: #fff;
        cursor: pointer;
        position: absolute;
        padding: 6px;
        border-radius: 2px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        left: -15px;
        bottom: -13px;

        @media (max-width: 895px){
            position: relative;
            left: 0;
            top: 19px;
            width: 30px;
            height: 26px;
            margin: 0 10px 0 0;
        }

        i {
            background: #2b333e;
            height: 2px;
            border-radius: 10px;
            width: 18px;
            display: block;
            transition: 250ms;

            &+i {
                margin: 4px 0 0;
            }
        }

        &.active {
            i:nth-child(1) {
                @media (min-width: 895px){
                    width: 6px;
                }
            }

            i:nth-child(3) {
                @media (min-width: 895px){
                    width: 6px;
                    margin-left: 12px;
                }
            }
        }
    }

    .global-search {
        padding: 11px 0;
        position: inherit;

        #global-search-results {
            background: #fff;
            padding: 10px 20px 20px;
            display: none;
            max-height: 500px;
            overflow: auto;
            animation: hide-navbar-dropdown2 .25s ease forwards;
            position: absolute;
            border-radius: 0 0 5px 5px;
            width: calc(100% - 60px);
            top: 64px;
            left: 30px;
            z-index: 2;

            .row {
                .col-12 {
                    &:last-child {
                        .col-12 {
                            border: 1px solid #ddd;
                            border-radius: 5px;
                            padding: 5px 15px 15px;
                        }
                    }
                }
            }

            a {
                color: #fff;
                margin: 10px 0 0;
                display: inline-block;
                width: 100%;
            }

            ul {
                list-style: none;
                margin: 0;
                padding: 0 0 0 10px;

                li {
                    a {
                        color: #596080;
                        font-weight: 500;
                    }

                    &:last-child {
                        a {
                            font-weight: 600;
                        }
                    }

                    &.global-search-product {
                        .col {
                            min-height: 48px;
                            position: relative;

                            .avatar {
                                position: absolute;
                                left: 15px;
                                top: 0;
                            }

                            p {
                                height: 24px;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                width: 100%;
                                display: block;
                                padding-left: 60px;
                            }

                            p:last-child {
                                display: none;
                            }

                            &:hover {
                                p:last-child {
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }

        @media (max-width: 895px){
            display: none;
        }

        .form-group {
            background-color: #f5f6fa;
            border: solid 1px #f5f6fa;
            border-radius: 5px;
            overflow: hidden;
            margin: 0;
            transition: 250ms;

            &.focused {
                border-color: #dfdfdf;
            }

            .input-group-text {
                background-color: #f5f6fa;
                color: #596080;
            }

            .form-control {
                background-color: #f5f6fa;
                color: #596080;

                &::placeholder {
                    opacity: 1;
                    color: #596080;
                }
            }

            .close-global-search-button {
                display: none;
                padding-left: 10px;
                padding-right: 10px;

                @media (max-width: 895px){
                    display: block;
                }

                span {
                    margin: 0;
                    line-height: 22px;
                    color: #596080;
                }
            }
        }
    }

    .navbar-nav {
        display: inline-block;
        padding: 16px 10px;
        position: relative;

        &:first-child {
            display: none;

            @media (max-width: 895px){
                display: inline-block;
            }
        }

        .nav-link {
            color: #596080;

            i {
                font-size: 16px;
            }
        }

        .dropdown-menu {
            animation: hide-navbar-dropdown2 .25s ease forwards;

            &.show {
                animation: show-navbar-dropdown2 .25s ease forwards;
            }
        }

        .dropdown-menu-custom {
            min-width: 300px;
        }
    }
}

.expand-global-search {
    .sidebar-overlay {
        display: block;
        animation: fadeInFromNone 250ms linear;
    }

    .global-search {
        .form-group {
            border-radius: 5px 5px 0 0;
        }

        #global-search-results {
            display: block;
            animation: show-navbar-dropdown2 .25s ease forwards;
        }
    }
}

@keyframes hide-navbar-dropdown2 {
    0% {
        opacity: 1;
        transition: opacity 0.25s;
    }

    100% {
        opacity: 0;
    }
}

@keyframes show-navbar-dropdown2 {
    0% {
        opacity: 0;
        transition: opacity 0.25s;
    }

    100% {
        opacity: 1;
    }
}

div.dataTables_wrapper {
    div.dataTables_paginate {
        padding: 0;

        ul.pagination {
            justify-content: center;
        }
    }
}

.btn-custom-2 {
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -1px;
    padding: 30px;
    display: block;
    text-align: left;
    cursor: pointer;
    transition: 250ms;

    &:hover {
        transform: translateY(-1px);
        //box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    }

    img {
        width: 60px;
        position: absolute;
        left: 35px;
        top: 50%;
        margin: -30px 0 0;
        filter: invert(1);
    }

    p {
        color: #fff;
        font-size: 15px;
        font-weight: 600;
        padding: 0 0 0 100px;
        margin: 0;

        strong {
            font-size: 35px;
            font-weight: 800;
        }
    }
}

.btn-custom-3 {
    background-color: #f5f6fb;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -1px;
    padding: 20px;
    display: flex;
    text-align: left;
    cursor: pointer;
    transition: background-color 250ms;
    min-height: 100px;
    align-items: center;
    overflow: hidden;

    img {
        width: 50px;
        position: absolute;
        left: 20px;
        top: 50%;
        margin: -25px 0 0;
    }

    p {
        color: #596080;
        font-size: 15px;
        font-weight: 600;
        padding: 0 0 0 70px;
        margin: 0;
    }

    &:hover,
    &.active {
        transform: translateY(-1px);

        p {
            color: #fff;
        }

        img {
            filter: invert(1);
        }
    }
}

.sidebar {
    background: #FFF;
    width: 64px;
    position: fixed;
    left: -64px;
    top: 0;
    height: 100%;
    z-index: 3;
    transition: 250ms;

    @media (min-width: 895px){
        left: 0;
    }

    .customer-dropdown {
        display: none;
        padding: 0 20px;
        width: 100%;

        .btn {
            width: 100%;
            padding: 10px;
        }
    }

    .logo {
        float: left;
        padding: 5px;
        width: 100%;
        height: 65px;
        display: flex;
        align-items: center;
        justify-content: center;

        img{
            height: auto;
            width: auto;
            max-width: 100%;
            max-height: 100%;
        }

        @media (max-width: 895px){
            display: none;
        }
    }

    .navbar-nav {
        width: 64px;
        height: calc(100vh - 115px);
        padding: 0;
        float: left;
        transition: 250ms;
        margin: 25px 0 0;
        display: flex;
        justify-content: space-between;

        @media (max-width: 895px){
            margin: 58px 0 0;
            height: calc(100vh - 58px);
        }

        .nav-item {
            margin: 5px 0;
            position: relative;

            .submenu {
                display: none;

                @media (min-width: 895px){
                    height: 0;
                }

                padding: 0;
                list-style: none;

                ul {
                    padding: 0;
                    list-style: none;

                    .nav-item {
                        .nav-link {
                            height: auto;
                        }
                    }
                }
            }

            &:hover {
                .nav-link {
                    @media (min-width: 895px){
                        & + .submenu {
                            background: #fff;
                            display: block;
                            position: absolute;
                            left: 60px;
                            width: 200px;
                            height: auto;
                            top: 0;
                            border-radius: 5px;
                            box-shadow: 0 0 20px rgba(0,0,0,0.25);
                            z-index: 1;

                            .nav-item {
                                .nav-link {
                                    padding: 12px 30px;

                                    .nav-link-text {
                                        display: block;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .nav-link {
                padding: 12px 0;
                width: 100%;
                color: #596080;
                height: 46px;
                display: inline-block;
                position: relative;
                transition: 250ms;
                vertical-align: top;

                &:before {
                    content: '';
                    height: 30px;
                    width: 6px;
                    border-radius: 10px;
                    left: -3px;
                    top: 50%;
                    background: #ddd;
                    margin: -15px 0 0;
                    opacity: 0;
                    position: absolute;
                    transition: 250ms;
                }

                i {
                    color: #838089;
                    top: 50%;
                    left: 20px;
                    margin: -10px 0 0;
                    font-size: 20px;
                    position: absolute;
                    transition: 250ms;
                    width: 20px;
                    text-align: center;
                }

                .nav-link-text {
                    display: none;
                    color: #596080;
                    font-size: 15px;
                    font-weight: 500;
                    transition: padding-left 250ms;
                }

                &:hover {
                    background: rgba(255,255,255,0.2);

                    i {
                        transform: scale(1.2);
                    }
                }
            }
        }

        &+.navbar-nav {
            border-right: 1px solid #efefef;
            background: #fff;
            position: absolute;
            display: none;
            width: 250px;

            .nav-item {
                .nav-link {
                    max-height: 48px;
                }
            }
        }
    }
}

.main-content {
    margin: 64px 0 0;
    transition: margin 250ms;

    .container-fluid {
        padding: 15px 15px 0 !important;
    }

    .card {
        margin: 0 0 15px;
    }

    @media (min-width: 895px){
        margin: 64px 0 0 64px;

        .container-fluid {
            padding: 30px 30px 0 !important;
        }

        .card {
            margin: 0 0 30px;
        }
    }

    table {
        td {
            padding: 0.75rem 1.5rem;
        }
    }
}

.sidebar-expanded {
    .main-content {
        @media (min-width: 895px){
            margin-left: 250px;
        }
    }

    .header {
        left: 250px;
        width: calc(100% - 250px);

        @media (max-width: 895px){
            width: 100%;
            left: 0;
        }
    }

    .sidebar {
        width: 250px;

        .logo {
            padding: 5px 15px
        }

        .customer-dropdown {
            display: block;
        }

        @media (max-width: 895px){
            left: -250px;
        }

        .navbar-nav {
            width: 250px;

            .nav-item {
                &:hover {
                    .nav-link {
                        &:not(.active) + .submenu {
                            left: 200px;
                        }
                    }

                    .customer-submenu {
                        position: fixed;
                        bottom: 30px;
                        top: auto;
                    }
                }

                .nav-link {
                    padding: 12px 30px 12px 75px;

                    i {
                        left: 30px;
                    }

                    .nav-link-text {
                        display: block;
                    }

                    &.active + .submenu {
                        display: block;
                        position: relative;
                        left: 0;
                        width: auto;
                        height: auto;
                        top: 0;
                        border-radius: 0;
                        box-shadow: none;

                        .nav-link {
                            padding: 12px 30px 12px 75px;
                        }
                    }
                }

                .submenu {
                    height: auto;

                    .nav-link {
                        height: auto;
                    }
                }
            }
        }
    }
}

.sidebar-expanded-mobile {
    .header {
        z-index: 4;

        .toggle-sidebar-button {
            i:nth-child(1) {
                width: 6px;
            }

            i:nth-child(3) {
                width: 6px;
                margin-left: 12px;
            }
        }
    }

    .sidebar {
        @media (max-width: 895px){
            width: 250px;
            z-index: 3;
            left: 0;

            .navbar-nav {
                width: 250px;

                .nav-item {
                    .nav-link {
                        padding: 12px 30px 12px 75px;

                        &.active + .submenu {
                            display: block;
                        }

                        .nav-link-text {
                            display: block;
                        }
                    }
                }
            }

            .customer-dropdown {
                display: block;
            }
        }
    }
}

.show-preview {
    .header {
        z-index: 4;
    }

    .preview {
        z-index: 2;
    }

    &.expand-global-search {
        .preview {
            z-index: 0;
        }
    }
}

.show-global-search {
    .header {
        .row {
            @media (max-width: 895px){
                .logo {
                    display: none;
                }

                .toggle-sidebar-button {
                    display: none;
                }
            }

            &>.col {
                @media (max-width: 895px){
                    display: none;

                    &.global-search {
                        width: 100%;
                        max-width: 100%;
                        padding: 11px 0;
                        flex: 0 0 100%;
                        display: inline-block;

                        #global-search-results {
                            width: 100%;
                            left: 0;

                            .col {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
}

.sidebar-overlay {
    background: rgba(0,0,0,0.5);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    display: none;
}

.sidebar-expanded-mobile,
.show-preview {
    .sidebar-overlay {
        @media (max-width: 895px){
            display: block;
            animation: fadeInFromNone 250ms linear;
        }
    }
}

@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

.preview {
    background: #fff;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    width: 0;
    padding: 1.5rem 0;
    margin: 64px 0 0;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    transition: 250ms;

    img {
        width: 100%;
        height: 250px;
        object-fit: cover;
    }

    .card {
        border: 1px solid #eeeeee;

        .card-body {
            border-top: 1px solid #eeeeee;
        }
    }
}

.show-preview {
    .preview {
        width: 450px;
        padding: 1.5rem;
    }

    .main-content {
        @media (min-width: 895px){
            margin-right: 450px;
        }
    }
}

table {
    &.dataTable {
        border: none;
    }
}

.table {
    tbody {
        tr {
            &:hover {
                background: #f5f6fb;
            }

            td {
                font-size: 0.9rem;
                font-weight: 500;
                border: none;
            }

            th {
                padding-top: 1rem;
                padding-bottom: 1rem;
                letter-spacing: -1px;
                text-transform: none;
                font-size: 0.9rem;
                font-weight: 600;
                border: none;
            }
        }
    }

    thead {
        th {
            padding-top: 1rem;
            padding-bottom: 1rem;
            letter-spacing: -1px;
            text-transform: none;
            font-size: 0.9rem;
            font-weight: 400;
            opacity: 0.8;
            border: none;
        }
    }
}

.order-item-fields {
    border: none;

    .form-group {
        margin: 0;

        label {
            display: none;
        }
    }

    .form-control[readonly] {
        background-color: #fff;
        border: none;
    }
}

.col-summary {
    padding: 12.5px 12.5px 0;

    .col-inner {
        padding: 25px 25px 15px;
        border-radius: 5px;
        color: #fff;
        position: relative;
        overflow: hidden;

        h3 {
            font-size: 1.5rem;
            font-weight: 400;
            color: #fff;
        }

        p {
            font-weight: 400;
            margin: 0 0 10px;

            strong {
                float: right;
            }
        }

        &:before {
            content: "";
            position: absolute;
            left: 50%;
            top: 0;
            margin: -250px 0 0;
            width: 500px;
            height: 500px;
            background: rgba(255,255,255,0.25);
            transform: rotate(-25deg);
            z-index: 0;
        }
    }
}

.avatar {
    object-fit: cover;
}

.max-width {
    overflow: hidden;
    text-overflow: ellipsis;
}

.min-height-100-select {
    .select2-selection {
        min-height: 120px;

        .select2-selection__rendered {
            white-space: pre-line;
        }
    }
}

.col-static-250 {
    width: 300px;
    display: block;
}

.max-width-150 {
    max-width: 150px;
}

.max-width-200 {
    max-width: 200px;
}

.max-width-250 {
    max-width: 250px;
}

.max-width-350 {
    max-width: 350px;
}

.min-width {
    min-width: 0;
}

.min-width-100 {
    min-width: 100px;
}

.width-20p {
    width: 20%;
}

.width-15 {
    width: 15%;
}

.width-10p {
    width: 10%;
}

.col-summary-end {
    margin: 12.5px 0 0;
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
}

.order-total-column {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    p {
        font-weight: 600;
        margin: 0 20px 0;
    }
}

#product-table_wrapper {
    img {
        border-radius: 5px;
        object-fit: cover;
    }

    #product-table_filter {
        display: none;
    }
}

.tbl-sts {
    i {
        display: inline-block;
        height: 25px;
        width: 25px;
        vertical-align: middle;
        margin: 0 10px 0 0;
    }
}

.tbl-sts-awaiting {
    color: #ffbe00;

    i {
        background: url('../images/export.svg') center / contain no-repeat;
    }
}

.export-modal-title {
    margin-left: 18%!important;
    margin-top: 3%!important;
}

.modal-dialog {
    @media (min-width: 576px){
        max-width: 600px;
    }

    .modal-content {
        border-radius: 5px;
        text-align: left;

        .modal-header {
            border-radius: 15px 15px 0 0;
            border-bottom-width: 1px;

            h5 {
                font-size: 20px;
                font-weight: 400;
                margin: 6px 0;

                .ci {
                    width: 20px;
                    height: 20px;
                    min-width: 0;
                    margin: -5px 10px 0 0;
                    display: inline-block;
                    vertical-align: middle;
                    fill: #fff;
                    filter: invert(1);
                }
            }

            .close {
                padding: 1.75rem 1.25rem;

                span:not(.sr-only) {
                }

                span {
                    font-size: 40px;
                    font-weight: 100;
                }
            }
        }

        .modal-footer {
            border-top-width: 1px;
        }
    }
}

.custom-checkbox .custom-control-input ~ .custom-control-label {
    font-size: 1rem;
}

.reship-modal-content {
    width: 150%;
    margin-left: -18%;
}

.custom-control {
    height: 2rem;
    padding-left: 2rem;

    .custom-control-label {
        font-size: 1rem;
        height: 1.5rem;
        vertical-align: middle;

        &:before {
            width: 1.5rem;
            height: 1.5rem;
            top: -0.05rem;
            left: -2rem;
        }

        &:after {
            width: 1.5rem;
            height: 1.5rem;
            top: -0.05rem;
            left: -2rem;
        }
    }
}

.nav-pills {
    .nav-link {
        text-transform: uppercase;
        border-radius: 5px;
        font-weight: 600;
        letter-spacing: -1px;
        padding: 1.2rem 1.5rem;
        background-color: #ffffff;

        &:hover {
            transform: translateY(-1px);
            background-color: #ffffff;
        }
    }

    .nav-link.active {
        color: #fff;

        &:hover {
            //box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
            color: #fff;
        }
    }

    .nav-pills .show {
        .nav-link {
            color: #fff;

            &:hover {
                //box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
            }
        }
    }
}

.notification-button {
    i {
        background: #fff;
        height: 8px;
        width: 8px;
        border-radius: 100px;
        vertical-align: middle;
    }

    &.has-notifications {
        i {
            display: inline-block;
        }
    }
}

.custom-stripe {
    position: absolute;
    left: -60px;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
}

.country-list, .city-list {
    position: absolute;
    left: 0;
    top: 0;
    padding: 20px;
    z-index: 1;
    background: rgba(255,255,255,0.85);
    height: 100%;

    div {
        vertical-align: top;
        display: block;
        margin: 0 0 10px;

        span {
            line-height: 40px;
            width: 40px;
            text-align: center;
            display: inline-block;
            vertical-align: top;
            border-radius: 100px;
            font-size: 1rem;
            font-weight: 500;
        }

        i {
            display: inline-block;
            vertical-align: top;
            margin: 12px 0 0 8px;
        }

        a {
            display: inline-block;
            vertical-align: top;
            font-size: 1rem;
            font-weight: 500;
            padding: 8px 0 0 8px;
        }
    }
}

.country-list-selector {
    max-width: 1100px;
    margin: 0 auto;
    .list-group {
        overflow-y: auto;
        height: 300px;
        .list-group-item {
            padding: 8px 16px;
        }
    }
}

.method-list-selector {
    max-width: 1100px;
    margin: 0 auto;
    .list-group {
        overflow-y: auto;
        height: 100px;
        .list-group-item {
            padding: 8px 16px;
        }
    }
}

.not-logged {
    min-height: 100vh;

    .main-content {
        height: 100vh;
        margin: 0;

        .d-flex {
            & > .row {
                width: 100%;
            }
        }
    }

    .not-logged-brand {
        img {
            width: 100%;
            max-width: 300px;
            height: auto;
        }
    }

    .input-group-alternative {
        border-radius: 5px;
        overflow: hidden;
    }

    .not-logged-nav {
        padding: 0;
        position: absolute;
        left: 30px;
        bottom: 30px;
        width: auto;
    }
}

.product-image {
    position: relative;

    img {
        width: 100%;
        height: auto;
        border-radius: 5px;
        border: solid 1px #fff;
        //box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
        //box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    }

    .delete-product-image-button {
        background: #fff;
        border-radius: 50px;
        width: 30px;
        line-height: 30px;
        position: absolute;
        right: 0;
        top: -15px;
        text-align: center;
        //box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
        //box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
        cursor: pointer;
        transition: 250ms;

        &:hover {
            transform: scale(1.1);
        }
    }
}

.ajax-error {
    display: none;
}

.dashboard {
    @media (max-width: 895px){
        .preview {
            width: 0;
            padding: 0;
        }

        &.show-filters.show-preview {
            .sidebar-overlay {
                display: block;
            }

            .preview {
                width: 450px;
                padding: 1.5rem;
            }
        }
    }

    .preview {
        > .row {
            @media (min-width: 895px){
                &:first-child {
                    display: none;
                }
            }
        }
    }
}

.chart {
    height: 300px;
}

.has-danger .select2-container .selection .select2-selection {
    border-color: red;
}

.delete-widget{
    position: absolute;
    z-index: 2;
}

.preview-button {
    font-size: 20px;
    padding: 5px;
    cursor: pointer;
}

.custom-box,
.card .table td.custom-box {
    padding: .625rem .75rem;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    margin: 10px 0  10px 1.5rem;
    display: block;
}

.select2-results__option {
    & + .select2-results__option {
        border-top: 1px solid rgba(0, 0, 0, .05);
    }
}

.discount-icon {
    padding-right: 3px;
    margin: 0 0 0 -3px;
}

$status_pending: #ff7da6;
$status_fulfilled: #a576ff;
$status_cancelled: #6f979d;
$status_priority: #4b89ff;
$status_backorder: #fcad20;
$status_on_hold: #23ceac;

.sts-pending {
    background-color: $status_pending;
}

.sts-fulfilled {
    background-color: $status_fulfilled;
}

.sts-cancelled {
    background-color: $status_cancelled;
}

.sts-priority {
    background-color: $status_priority;
}

.sts-backorder {
    background-color: $status_backorder
}

.sts-on-hold {
    background-color: $status_on_hold;
}

.sts {
    background: #fff;

    &.btn-custom {
        &:before {
            content: '';
            height: 8px;
            width: 8px;
            border-radius: 50px;
            background: #66666620;
            left: 45px;
            bottom: 15px;
            position: absolute;
        }

        &:after {
            content: '';
            height: 12px;
            width: 12px;
            border-radius: 50px;
            background: #66666620;
            right: 25px;
            bottom: 15px;
            position: absolute;
        }

        .row {
            &:before {
                content: '';
                height: 10px;
                width: 10px;
                border-radius: 50px;
                background: #66666620;
                left: 50%;
                margin: 0 0 0 -5px;
                top: 15px;
                position: absolute;
            }
        }
    }

    i {
        color: #666666;
        background: #66666620;
        font-size: 40px;
        padding: 20px;
        border-radius: 5px;

        @media (max-width: 600px) {
            padding: 15px;
            font-size: 30px;
        }
    }

    &.card-sts {
        i {
            font-size: 20px;
            padding: 10px;
            margin: -7px 0px;
            display: block;
        }
    }

    &.sts-pending {
        i {
            color: $status_pending;
            background: rgba($status_pending, 0.15);
        }

        &:before {
            background: rgba($status_pending, 0.15);
        }

        &:after {
            background: rgba($status_pending, 0.65);
        }

        .row {
            &:before {
                background: rgba($status_pending, 0.35);
            }
        }
    }

    &.sts-fulfilled {
        i {
            color: $status_fulfilled;
            background: rgba($status_fulfilled, 0.15);
        }

        &:before {
            background: rgba($status_fulfilled, 0.15);
        }

        &:after {
            background: rgba($status_fulfilled, 0.65);
        }

        .row {
            &:before {
                background: rgba($status_fulfilled, 0.35);
            }
        }
    }

    &.sts-cancelled {
        i {
            color: $status_cancelled;
            background: rgba($status_cancelled, 0.15);
        }

        &:before {
            background: rgba($status_cancelled, 0.15);
        }

        &:after {
            background: rgba($status_cancelled, 0.65);
        }

        .row {
            &:before {
                background: rgba($status_cancelled, 0.35);
            }
        }
    }

    &.sts-priority {
        i {
            color: $status_priority;
            background: rgba($status_priority, 0.15);
        }

        &:before {
            background: rgba($status_priority, 0.15);
        }

        &:after {
            background: rgba($status_priority, 0.65);
        }

        .row {
            &:before {
                background: rgba($status_priority, 0.35);
            }
        }
    }

    &.sts-backorder {
        i {
            color: $status_backorder;
            background: rgba($status_backorder, 0.15);
        }

        &:before {
            background: rgba($status_backorder, 0.15);
        }

        &:after {
            background: rgba($status_backorder, 0.65);
        }

        .row {
            &:before {
                background: rgba($status_backorder, 0.35);
            }
        }
    }

    &.sts-on-hold {
        i {
            color: $status_on_hold;
            background: rgba($status_on_hold, 0.15);
        }

        &:before {
            background: rgba($status_on_hold, 0.15);
        }

        &:after {
            background: rgba($status_on_hold, 0.65);
        }

        .row {
            &:before {
                background: rgba($status_on_hold, 0.35);
            }
        }
    }

    strong {
        font-size: 30px;
    }

    p {
        font-weight: 400;
        text-transform: none;
    }
}

.calendar-input {
    &:before {
        font-family: "Iconly---Bold" !important;
        content: "\E907";
        position: absolute;
        width: 20px;
        font-size: 24px;
        left: 28px;
        top: 50%;
        margin: -17px 0 0;
        color: #596080;
        opacity: 0.5;
    }

    input {
        padding-left: 3rem;
    }
}

.dataTables_info {
    padding: 0;
    text-align: center;
    display: none;
}

.table-card {
    background: none;

    .card-header {
        background: #fff;
    }

    .dataTables_scroll {
        background: #fff;
        border-radius: 0 0 5px 5px;
    }

    .bottom {
        margin: 20px 0 0;

        @media (max-width: 690px){
            margin: 10px 0 0;
        }

        .col {
            padding: 0;

            .dataTables_info {
                padding: 0;
                max-width: 250px;
                white-space: inherit;
                margin: 0 auto 10px auto;
            }

            .paging_simple_numbers {
                text-align: center !important;

                .pagination {
                    display: inline-block;
                    text-align: center;
                    margin: 0 auto;
                    padding: 10px;
                    border-radius: 5px;
                    background: #fff;

                    li {
                        display: inline-block;

                        @media (max-width: 690px){
                            display: none;
                        }

                        &.disabled {
                            opacity: 0.5;
                        }

                        &.previous,
                        &.next {
                            a {
                                min-width: 100px;
                            }

                            @media (max-width: 690px){
                                display: inline-block;
                            }
                        }

                        a {
                            background: #596080;
                            width: auto;
                            height: auto;
                            padding: 15px 20px;
                            text-align: center;
                            border-radius: 5px !important;
                            text-transform: uppercase;
                            font-weight: 500;
                            color: #fff;
                            transition: 250ms;
                            border-color: transparent;

                            &:hover {
                                transform: scale(1.15);
                            }
                        }
                    }
                }
            }
        }
    }

    &.pagination-padding {
        .pagination {
            padding: 10px 4px !important;
        }
    }
}

.with-loader{
    background: #fff;

    &:before{
        content: '';
        position: absolute;
        top: calc(50% - 23px);
        left: calc(50% - 23px);
        z-index: 1000;
        border: 3px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        border-top: 3px solid #525f7f;
        width: 40px;
        height: 40px;
        -webkit-animation: spin 500ms linear infinite;
        animation: spin 500ms linear infinite;
        opacity: 1;
        transition: opacity 250ms;
    }

    &:after{
        content: 'Loading..';
        position: absolute;
        top: calc(50% + 20px);
        left: calc(50% - 40px);
        width: 80px;
        text-align: center;
    }

    &.with-smaller-loader {
        &:before {
            top: calc(50% - 11px);
            left: calc(50% - 25px);
            width: 20px;
            height: 20px;
        }

        &:after{
            top: calc(50% - 11px);
            left: calc(50% - 7px);
        }
    }

    &.with-opacity-background {
        & > div {
            opacity: 0.25;
            transition: 250ms;
        }
    }
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.custom-marker {
    background: rgba(255,255,255,0.8);
    padding: 10px 0;
    border-radius: 12px;
    height: 50px;
    width: 100px;
    text-align: center;

    strong {
        margin: 5px 0 0;
        font-family: Montserrat, serif;
        font-size: 16px;
        font-weight: 600;
        color: #000;
        display: inline-block;
        vertical-align: top;
    }

    img {
        margin: 4px 10px 0 -5px;
        width: 30px;
        border-radius: 2px;
        display: inline-block;
        vertical-align: top;
    }

    &.default-cluster {
        strong {
            margin: -10px 0 0;
        }

        img {
            margin: 0 10px 0 -5px;
        }
    }

    &.custom-cluster {
        strong {
            margin: -10px 0 0;
        }

        img {
            margin: 4px 10px 0 -5px
        }
    }
}

.white-hover:hover{
    background-color: #FFFFFF !important;
}

.dropdown-customer-select {
    overflow-y: auto;
    max-height: 400px;
}
