@font-face {
  font-family: 'Iconly---Bold';
  src:  url('fonts/Iconly---Bold.eot?jilz72');
  src:  url('fonts/Iconly---Bold.eot?jilz72#iefix') format('embedded-opentype'),
    url('fonts/Iconly---Bold.ttf?jilz72') format('truetype'),
    url('fonts/Iconly---Bold.woff?jilz72') format('woff'),
    url('fonts/Iconly---Bold.svg?jilz72#Iconly---Bold') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="iconly-bold"], [class*=" iconly-bold"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Iconly---Bold' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconly-boldActivity:before {
  content: "\e900";
}
.iconly-boldUser:before {
  content: "\e901";
}
.iconly-boldUser1:before {
  content: "\e902";
}
.iconly-boldAdd-User:before {
  content: "\e903";
}
.iconly-boldArrow---Down-2:before {
  content: "\e904";
}
.iconly-boldArrow---Down-3:before {
  content: "\e905";
}
.iconly-boldArrow---Down-Circle:before {
  content: "\e906";
}
.iconly-boldArrow---Down-Square:before {
  content: "\e907";
}
.iconly-boldArrow---Down:before {
  content: "\e908";
}
.iconly-boldArrow---Left-2:before {
  content: "\e909";
}
.iconly-boldArrow---Left-3:before {
  content: "\e90a";
}
.iconly-boldArrow---Left-Circle:before {
  content: "\e90b";
}
.iconly-boldArrow---Left-Square:before {
  content: "\e90c";
}
.iconly-boldArrow---Left:before {
  content: "\e90d";
}
.iconly-boldArrow---Right-2:before {
  content: "\e90e";
}
.iconly-boldArrow---Right-3:before {
  content: "\e90f";
}
.iconly-boldArrow---Right-Circle:before {
  content: "\e910";
}
.iconly-boldArrow---Right-Square:before {
  content: "\e911";
}
.iconly-boldArrow---Right:before {
  content: "\e912";
}
.iconly-boldArrow---Up-2:before {
  content: "\e913";
}
.iconly-boldArrow---Up-3:before {
  content: "\e914";
}
.iconly-boldArrow---Up-Circle:before {
  content: "\e915";
}
.iconly-boldArrow---Up-Square:before {
  content: "\e916";
}
.iconly-boldArrow---Up:before {
  content: "\e917";
}
.iconly-boldBag-2:before {
  content: "\e918";
}
.iconly-boldBag:before {
  content: "\e919";
}
.iconly-boldBookmark:before {
  content: "\e91a";
}
.iconly-boldBuy:before {
  content: "\e91b";
}
.iconly-boldCalendar:before {
  content: "\e91c";
}
.iconly-boldCall-Missed:before {
  content: "\e91d";
}
.iconly-boldCall-Silent:before {
  content: "\e91e";
}
.iconly-boldCall:before {
  content: "\e91f";
}
.iconly-boldCalling:before {
  content: "\e920";
}
.iconly-boldCamera:before {
  content: "\e921";
}
.iconly-boldCategory:before {
  content: "\e922";
}
.iconly-boldChart:before {
  content: "\e923";
}
.iconly-boldChat:before {
  content: "\e924";
}
.iconly-boldClose-Square:before {
  content: "\e925";
}
.iconly-boldDanger:before {
  content: "\e926";
}
.iconly-boldDelete:before {
  content: "\e927";
}
.iconly-boldDiscount:before {
  content: "\e928";
}
.iconly-boldDiscovery:before {
  content: "\e929";
}
.iconly-boldDocument:before {
  content: "\e92a";
}
.iconly-boldDownload:before {
  content: "\e92b";
}
.iconly-boldEdit-Square:before {
  content: "\e92c";
}
.iconly-boldEdit:before {
  content: "\e92d";
}
.iconly-boldFilter-2:before {
  content: "\e92e";
}
.iconly-boldFilter:before {
  content: "\e92f";
}
.iconly-boldFolder:before {
  content: "\e930";
}
.iconly-boldGame:before {
  content: "\e931";
}
.iconly-boldGraph:before {
  content: "\e932";
}
.iconly-boldHeart:before {
  content: "\e933";
}
.iconly-boldHide:before {
  content: "\e934";
}
.iconly-boldHome:before {
  content: "\e935";
}
.iconly-boldImage-2:before {
  content: "\e936";
}
.iconly-boldImage:before {
  content: "\e937";
}
.iconly-boldInfo-Circle:before {
  content: "\e938";
}
.iconly-boldInfo-Square:before {
  content: "\e939";
}
.iconly-boldLocation:before {
  content: "\e93a";
}
.iconly-boldLock:before {
  content: "\e93b";
}
.iconly-boldLogin:before {
  content: "\e93c";
}
.iconly-boldLogout:before {
  content: "\e93d";
}
.iconly-boldMessage:before {
  content: "\e93e";
}
.iconly-boldMore-Circle:before {
  content: "\e93f";
}
.iconly-boldMore-Square:before {
  content: "\e940";
}
.iconly-boldNotification:before {
  content: "\e941";
}
.iconly-boldPaper-Download:before {
  content: "\e942";
}
.iconly-boldPaper-Fail:before {
  content: "\e943";
}
.iconly-boldPaper-Negative:before {
  content: "\e944";
}
.iconly-boldPaper-Plus:before {
  content: "\e945";
}
.iconly-boldPaper-Upload:before {
  content: "\e946";
}
.iconly-boldPaper:before {
  content: "\e947";
}
.iconly-boldPassword:before {
  content: "\e948";
}
.iconly-boldPlay:before {
  content: "\e949";
}
.iconly-boldPlus:before {
  content: "\e94a";
}
.iconly-boldProfile:before {
  content: "\e94b";
}
.iconly-boldScan:before {
  content: "\e94c";
}
.iconly-boldSearch:before {
  content: "\e94d";
}
.iconly-boldSend:before {
  content: "\e94e";
}
.iconly-boldSetting:before {
  content: "\e94f";
}
.iconly-boldShield-Done:before {
  content: "\e950";
}
.iconly-boldShield-Fail:before {
  content: "\e951";
}
.iconly-boldShow:before {
  content: "\e952";
}
.iconly-boldStar:before {
  content: "\e953";
}
.iconly-boldSwap:before {
  content: "\e954";
}
.iconly-boldTick-Square:before {
  content: "\e955";
}
.iconly-boldTicket-Star:before {
  content: "\e956";
}
.iconly-boldTicket:before {
  content: "\e957";
}
.iconly-boldTime-Circle:before {
  content: "\e958";
}
.iconly-boldTime-Square:before {
  content: "\e959";
}
.iconly-boldUnlock:before {
  content: "\e95a";
}
.iconly-boldUpload:before {
  content: "\e95b";
}
.iconly-boldVideo:before {
  content: "\e95c";
}
.iconly-boldVoice-2:before {
  content: "\e95d";
}
.iconly-boldVoice:before {
  content: "\e95e";
}
.iconly-boldVolume-Down:before {
  content: "\e95f";
}
.iconly-boldVolume-Off:before {
  content: "\e960";
}
.iconly-boldVolume-Up:before {
  content: "\e961";
}
.iconly-boldWallet:before {
  content: "\e962";
}
.iconly-boldWork:before {
  content: "\e963";
}


@font-face {
    font-family: 'Iconly-bulk';
    src:  url('fonts/Iconly-bulk.eot?7ldoi4');
    src:  url('fonts/Iconly-bulk.eot?7ldoi4#iefix') format('embedded-opentype'),
    url('fonts/Iconly-bulk.ttf?7ldoi4') format('truetype'),
    url('fonts/Iconly-bulk.woff?7ldoi4') format('woff'),
    url('fonts/Iconly-bulk.svg?7ldoi4#Iconly-bulk') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="iconly-bulk"], [class*=" iconly-bulk"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'Iconly-bulk' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.iconly-bulkArrow---Down .path1:before {
    content: "\e900";
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkArrow---Down .path2:before {
    content: "\e901";
    margin-left: -1em;
    color: rgb(32, 14, 50);
}
.iconly-bulkUser .path1:before {
    content: "\e902";
    color: rgb(32, 14, 50);
}
.iconly-bulkUser .path2:before {
    content: "\e903";
    margin-left: -1em;
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkUser .path3:before {
    content: "\e904";
    margin-left: -1em;
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkUser .path4:before {
    content: "\e905";
    margin-left: -1em;
    color: rgb(32, 14, 50);
}
.iconly-bulkUser1 .path1:before {
    content: "\e906";
    color: rgb(32, 14, 50);
}
.iconly-bulkUser1 .path2:before {
    content: "\e907";
    margin-left: -1em;
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkUser1 .path3:before {
    content: "\e908";
    margin-left: -1em;
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkUser1 .path4:before {
    content: "\e909";
    margin-left: -1em;
    color: rgb(32, 14, 50);
}
.iconly-bulkUser1 .path5:before {
    content: "\e90a";
    margin-left: -1em;
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkUser1 .path6:before {
    content: "\e90b";
    margin-left: -1em;
    color: rgb(32, 14, 50);
}
.iconly-bulkActivity .path1:before {
    content: "\e90c";
    color: rgb(32, 14, 50);
}
.iconly-bulkActivity .path2:before {
    content: "\e90d";
    margin-left: -1em;
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkAdd-User .path1:before {
    content: "\e90e";
    color: rgb(32, 14, 50);
}
.iconly-bulkAdd-User .path2:before {
    content: "\e90f";
    margin-left: -1em;
    color: rgb(32, 14, 50);
}
.iconly-bulkAdd-User .path3:before {
    content: "\e910";
    margin-left: -1em;
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkArrow---Down-2 .path1:before {
    content: "\e911";
    color: rgb(32, 14, 50);
}
.iconly-bulkArrow---Down-2 .path2:before {
    content: "\e912";
    margin-left: -1em;
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkArrow---Down-3 .path1:before {
    content: "\e913";
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkArrow---Down-3 .path2:before {
    content: "\e914";
    margin-left: -1em;
    color: rgb(32, 14, 50);
}
.iconly-bulkArrow---Down-Circle .path1:before {
    content: "\e915";
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkArrow---Down-Circle .path2:before {
    content: "\e916";
    margin-left: -1em;
    color: rgb(32, 14, 50);
}
.iconly-bulkArrow---Down-Square .path1:before {
    content: "\e917";
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkArrow---Down-Square .path2:before {
    content: "\e918";
    margin-left: -1em;
    color: rgb(32, 14, 50);
}
.iconly-bulkArrow---Left-2 .path1:before {
    content: "\e919";
    color: rgb(32, 14, 50);
}
.iconly-bulkArrow---Left-2 .path2:before {
    content: "\e91a";
    margin-left: -1em;
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkArrow---Left-3 .path1:before {
    content: "\e91b";
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkArrow---Left-3 .path2:before {
    content: "\e91c";
    margin-left: -1em;
    color: rgb(32, 14, 50);
}
.iconly-bulkArrow---Left-Circle .path1:before {
    content: "\e91d";
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkArrow---Left-Circle .path2:before {
    content: "\e91e";
    margin-left: -1em;
    color: rgb(32, 14, 50);
}
.iconly-bulkArrow---Left-Square .path1:before {
    content: "\e91f";
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkArrow---Left-Square .path2:before {
    content: "\e920";
    margin-left: -1em;
    color: rgb(32, 14, 50);
}
.iconly-bulkArrow---Left .path1:before {
    content: "\e921";
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkArrow---Left .path2:before {
    content: "\e922";
    margin-left: -1em;
    color: rgb(32, 14, 50);
}
.iconly-bulkArrow---Right-2 .path1:before {
    content: "\e923";
    color: rgb(32, 14, 50);
}
.iconly-bulkArrow---Right-2 .path2:before {
    content: "\e924";
    margin-left: -1em;
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkArrow---Right-3 .path1:before {
    content: "\e925";
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkArrow---Right-3 .path2:before {
    content: "\e926";
    margin-left: -1em;
    color: rgb(32, 14, 50);
}
.iconly-bulkArrow---Right-Circle .path1:before {
    content: "\e927";
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkArrow---Right-Circle .path2:before {
    content: "\e928";
    margin-left: -1em;
    color: rgb(32, 14, 50);
}
.iconly-bulkArrow---Right-Square .path1:before {
    content: "\e929";
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkArrow---Right-Square .path2:before {
    content: "\e92a";
    margin-left: -1em;
    color: rgb(32, 14, 50);
}
.iconly-bulkArrow---Right .path1:before {
    content: "\e92b";
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkArrow---Right .path2:before {
    content: "\e92c";
    margin-left: -1em;
    color: rgb(32, 14, 50);
}
.iconly-bulkArrow---Up-2 .path1:before {
    content: "\e92d";
    color: rgb(32, 14, 50);
}
.iconly-bulkArrow---Up-2 .path2:before {
    content: "\e92e";
    margin-left: -1em;
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkArrow---Up-3 .path1:before {
    content: "\e92f";
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkArrow---Up-3 .path2:before {
    content: "\e930";
    margin-left: -1em;
    color: rgb(32, 14, 50);
}
.iconly-bulkArrow---Up-Circle .path1:before {
    content: "\e931";
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkArrow---Up-Circle .path2:before {
    content: "\e932";
    margin-left: -1em;
    color: rgb(32, 14, 50);
}
.iconly-bulkArrow---Up-Square .path1:before {
    content: "\e933";
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkArrow---Up-Square .path2:before {
    content: "\e934";
    margin-left: -1em;
    color: rgb(32, 14, 50);
}
.iconly-bulkArrow---Up .path1:before {
    content: "\e935";
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkArrow---Up .path2:before {
    content: "\e936";
    margin-left: -1em;
    color: rgb(32, 14, 50);
}
.iconly-bulkBag-2 .path1:before {
    content: "\e937";
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkBag-2 .path2:before {
    content: "\e938";
    margin-left: -1em;
    color: rgb(32, 14, 50);
}
.iconly-bulkBag .path1:before {
    content: "\e939";
    color: rgb(32, 14, 50);
}
.iconly-bulkBag .path2:before {
    content: "\e93a";
    margin-left: -1em;
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkBookmark .path1:before {
    content: "\e93b";
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkBookmark .path2:before {
    content: "\e93c";
    margin-left: -1em;
    color: rgb(32, 14, 50);
}
.iconly-bulkBuy .path1:before {
    content: "\e93d";
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkBuy .path2:before {
    content: "\e93e";
    margin-left: -1em;
    color: rgb(32, 14, 50);
}
.iconly-bulkCalendar .path1:before {
    content: "\e93f";
    color: rgb(32, 14, 50);
}
.iconly-bulkCalendar .path2:before {
    content: "\e940";
    margin-left: -1em;
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkCalendar .path3:before {
    content: "\e941";
    margin-left: -1em;
    color: rgb(32, 14, 50);
}
.iconly-bulkCalendar .path4:before {
    content: "\e942";
    margin-left: -1em;
    color: rgb(32, 14, 50);
}
.iconly-bulkCall-Missed .path1:before {
    content: "\e943";
    color: rgb(32, 14, 50);
}
.iconly-bulkCall-Missed .path2:before {
    content: "\e944";
    margin-left: -1em;
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkCall-Silent .path1:before {
    content: "\e945";
    color: rgb(32, 14, 50);
}
.iconly-bulkCall-Silent .path2:before {
    content: "\e946";
    margin-left: -1em;
    color: rgb(32, 14, 50);
}
.iconly-bulkCall-Silent .path3:before {
    content: "\e947";
    margin-left: -1em;
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkCall:before {
    content: "\e948";
}
.iconly-bulkCalling .path1:before {
    content: "\e949";
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkCalling .path2:before {
    content: "\e94a";
    margin-left: -1em;
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkCalling .path3:before {
    content: "\e94b";
    margin-left: -1em;
    color: rgb(32, 14, 50);
}
.iconly-bulkCamera .path1:before {
    content: "\e94c";
    color: rgb(32, 14, 50);
}
.iconly-bulkCamera .path2:before {
    content: "\e94d";
    margin-left: -1em;
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkCategory .path1:before {
    content: "\e94e";
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkCategory .path2:before {
    content: "\e94f";
    margin-left: -1em;
    color: rgb(32, 14, 50);
}
.iconly-bulkChart .path1:before {
    content: "\e950";
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkChart .path2:before {
    content: "\e951";
    margin-left: -1em;
    color: rgb(32, 14, 50);
}
.iconly-bulkChart .path3:before {
    content: "\e952";
    margin-left: -1em;
    color: rgb(32, 14, 50);
}
.iconly-bulkChart .path4:before {
    content: "\e953";
    margin-left: -1em;
    color: rgb(32, 14, 50);
}
.iconly-bulkChat .path1:before {
    content: "\e954";
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkChat .path2:before {
    content: "\e955";
    margin-left: -1em;
    color: rgb(32, 14, 50);
}
.iconly-bulkClose-Square .path1:before {
    content: "\e956";
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkClose-Square .path2:before {
    content: "\e957";
    margin-left: -1em;
    color: rgb(32, 14, 50);
}
.iconly-bulkDanger .path1:before {
    content: "\e958";
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkDanger .path2:before {
    content: "\e959";
    margin-left: -1em;
    color: rgb(32, 14, 50);
}
.iconly-bulkDelete .path1:before {
    content: "\e95a";
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkDelete .path2:before {
    content: "\e95b";
    margin-left: -1em;
    color: rgb(32, 14, 50);
}
.iconly-bulkDiscount .path1:before {
    content: "\e95c";
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkDiscount .path2:before {
    content: "\e95d";
    margin-left: -1em;
    color: rgb(32, 14, 50);
}
.iconly-bulkDiscovery .path1:before {
    content: "\e95e";
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkDiscovery .path2:before {
    content: "\e95f";
    margin-left: -1em;
    color: rgb(32, 14, 50);
}
.iconly-bulkDocument .path1:before {
    content: "\e960";
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkDocument .path2:before {
    content: "\e961";
    margin-left: -1em;
    color: rgb(32, 14, 50);
}
.iconly-bulkDownload .path1:before {
    content: "\e962";
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkDownload .path2:before {
    content: "\e963";
    margin-left: -1em;
    color: rgb(32, 14, 50);
}
.iconly-bulkEdit-Square .path1:before {
    content: "\e964";
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkEdit-Square .path2:before {
    content: "\e965";
    margin-left: -1em;
    color: rgb(32, 14, 50);
}
.iconly-bulkEdit .path1:before {
    content: "\e966";
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkEdit .path2:before {
    content: "\e967";
    margin-left: -1em;
    color: rgb(32, 14, 50);
}
.iconly-bulkEdit .path3:before {
    content: "\e968";
    margin-left: -1em;
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkFilter-2 .path1:before {
    content: "\e969";
    color: rgb(32, 14, 50);
}
.iconly-bulkFilter-2 .path2:before {
    content: "\e96a";
    margin-left: -1em;
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkFilter .path1:before {
    content: "\e96b";
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkFilter .path2:before {
    content: "\e96c";
    margin-left: -1em;
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkFilter .path3:before {
    content: "\e96d";
    margin-left: -1em;
    color: rgb(32, 14, 50);
}
.iconly-bulkFilter .path4:before {
    content: "\e96e";
    margin-left: -1em;
    color: rgb(32, 14, 50);
}
.iconly-bulkFolder .path1:before {
    content: "\e96f";
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkFolder .path2:before {
    content: "\e970";
    margin-left: -1em;
    color: rgb(32, 14, 50);
}
.iconly-bulkGame .path1:before {
    content: "\e971";
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkGame .path2:before {
    content: "\e972";
    margin-left: -1em;
    color: rgb(32, 14, 50);
}
.iconly-bulkGraph .path1:before {
    content: "\e973";
    color: rgb(32, 14, 50);
}
.iconly-bulkGraph .path2:before {
    content: "\e974";
    margin-left: -1em;
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkHeart .path1:before {
    content: "\e975";
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkHeart .path2:before {
    content: "\e976";
    margin-left: -1em;
    color: rgb(32, 14, 50);
}
.iconly-bulkHeart .path3:before {
    content: "\e977";
    margin-left: -1em;
    color: rgb(32, 14, 50);
}
.iconly-bulkHide .path1:before {
    content: "\e978";
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkHide .path2:before {
    content: "\e979";
    margin-left: -1em;
    color: rgb(32, 14, 50);
}
.iconly-bulkHome:before {
    content: "\e97a";
}
.iconly-bulkImage-2 .path1:before {
    content: "\e97b";
    color: rgb(32, 14, 50);
}
.iconly-bulkImage-2 .path2:before {
    content: "\e97c";
    margin-left: -1em;
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkImage-2 .path3:before {
    content: "\e97d";
    margin-left: -1em;
    color: rgb(32, 14, 50);
}
.iconly-bulkImage .path1:before {
    content: "\e97e";
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkImage .path2:before {
    content: "\e97f";
    margin-left: -1em;
    color: rgb(32, 14, 50);
}
.iconly-bulkInfo-Circle .path1:before {
    content: "\e980";
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkInfo-Circle .path2:before {
    content: "\e981";
    margin-left: -1em;
    color: rgb(32, 14, 50);
}
.iconly-bulkInfo-Square .path1:before {
    content: "\e982";
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkInfo-Square .path2:before {
    content: "\e983";
    margin-left: -1em;
    color: rgb(32, 14, 50);
}
.iconly-bulkLocation .path1:before {
    content: "\e984";
    color: rgb(32, 14, 50);
}
.iconly-bulkLocation .path2:before {
    content: "\e985";
    margin-left: -1em;
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkLock .path1:before {
    content: "\e986";
    color: rgb(32, 14, 50);
}
.iconly-bulkLock .path2:before {
    content: "\e987";
    margin-left: -1em;
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkLogin .path1:before {
    content: "\e988";
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkLogin .path2:before {
    content: "\e989";
    margin-left: -1em;
    color: rgb(32, 14, 50);
}
.iconly-bulkLogout .path1:before {
    content: "\e98a";
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkLogout .path2:before {
    content: "\e98b";
    margin-left: -1em;
    color: rgb(32, 14, 50);
}
.iconly-bulkMessage .path1:before {
    content: "\e98c";
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkMessage .path2:before {
    content: "\e98d";
    margin-left: -1em;
    color: rgb(32, 14, 50);
}
.iconly-bulkMore-Circle .path1:before {
    content: "\e98e";
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkMore-Circle .path2:before {
    content: "\e98f";
    margin-left: -1em;
    color: rgb(32, 14, 50);
}
.iconly-bulkMore-Square .path1:before {
    content: "\e990";
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkMore-Square .path2:before {
    content: "\e991";
    margin-left: -1em;
    color: rgb(32, 14, 50);
}
.iconly-bulkNotification .path1:before {
    content: "\e992";
    color: rgb(32, 14, 50);
}
.iconly-bulkNotification .path2:before {
    content: "\e993";
    margin-left: -1em;
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkPaper-Download .path1:before {
    content: "\e994";
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkPaper-Download .path2:before {
    content: "\e995";
    margin-left: -1em;
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkPaper-Download .path3:before {
    content: "\e996";
    margin-left: -1em;
    color: rgb(32, 14, 50);
}
.iconly-bulkPaper-Fail .path1:before {
    content: "\e997";
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkPaper-Fail .path2:before {
    content: "\e998";
    margin-left: -1em;
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkPaper-Fail .path3:before {
    content: "\e999";
    margin-left: -1em;
    color: rgb(32, 14, 50);
}
.iconly-bulkPaper-Negative .path1:before {
    content: "\e99a";
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkPaper-Negative .path2:before {
    content: "\e99b";
    margin-left: -1em;
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkPaper-Negative .path3:before {
    content: "\e99c";
    margin-left: -1em;
    color: rgb(32, 14, 50);
}
.iconly-bulkPaper-Plus .path1:before {
    content: "\e99d";
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkPaper-Plus .path2:before {
    content: "\e99e";
    margin-left: -1em;
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkPaper-Plus .path3:before {
    content: "\e99f";
    margin-left: -1em;
    color: rgb(32, 14, 50);
}
.iconly-bulkPaper-Upload .path1:before {
    content: "\e9a0";
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkPaper-Upload .path2:before {
    content: "\e9a1";
    margin-left: -1em;
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkPaper-Upload .path3:before {
    content: "\e9a2";
    margin-left: -1em;
    color: rgb(32, 14, 50);
}
.iconly-bulkPaper .path1:before {
    content: "\e9a3";
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkPaper .path2:before {
    content: "\e9a4";
    margin-left: -1em;
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkPaper .path3:before {
    content: "\e9a5";
    margin-left: -1em;
    color: rgb(32, 14, 50);
}
.iconly-bulkPassword .path1:before {
    content: "\e9a6";
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkPassword .path2:before {
    content: "\e9a7";
    margin-left: -1em;
    color: rgb(32, 14, 50);
}
.iconly-bulkPlay .path1:before {
    content: "\e9a8";
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkPlay .path2:before {
    content: "\e9a9";
    margin-left: -1em;
    color: rgb(32, 14, 50);
}
.iconly-bulkPlus .path1:before {
    content: "\e9aa";
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkPlus .path2:before {
    content: "\e9ab";
    margin-left: -1em;
    color: rgb(32, 14, 50);
}
.iconly-bulkProfile .path1:before {
    content: "\e9ac";
    color: rgb(32, 14, 50);
}
.iconly-bulkProfile .path2:before {
    content: "\e9ad";
    margin-left: -1em;
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkScan .path1:before {
    content: "\e9ae";
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkScan .path2:before {
    content: "\e9af";
    margin-left: -1em;
    color: rgb(32, 14, 50);
}
.iconly-bulkSearch .path1:before {
    content: "\e9b0";
    color: rgb(32, 14, 50);
}
.iconly-bulkSearch .path2:before {
    content: "\e9b1";
    margin-left: -1em;
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkSend .path1:before {
    content: "\e9b2";
    color: rgb(32, 14, 50);
}
.iconly-bulkSend .path2:before {
    content: "\e9b3";
    margin-left: -1em;
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkSetting .path1:before {
    content: "\e9b4";
    color: rgb(32, 14, 50);
}
.iconly-bulkSetting .path2:before {
    content: "\e9b5";
    margin-left: -1em;
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkShield-Done .path1:before {
    content: "\e9b6";
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkShield-Done .path2:before {
    content: "\e9b7";
    margin-left: -1em;
    color: rgb(32, 14, 50);
}
.iconly-bulkShield-Fail .path1:before {
    content: "\e9b8";
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkShield-Fail .path2:before {
    content: "\e9b9";
    margin-left: -1em;
    color: rgb(32, 14, 50);
}
.iconly-bulkShow .path1:before {
    content: "\e9ba";
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkShow .path2:before {
    content: "\e9bb";
    margin-left: -1em;
    color: rgb(32, 14, 50);
}
.iconly-bulkStar .path1:before {
    content: "\e9bc";
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkStar .path2:before {
    content: "\e9bd";
    margin-left: -1em;
    color: rgb(32, 14, 50);
}
.iconly-bulkSwap .path1:before {
    content: "\e9be";
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkSwap .path2:before {
    content: "\e9bf";
    margin-left: -1em;
    color: rgb(32, 14, 50);
}
.iconly-bulkSwap .path3:before {
    content: "\e9c0";
    margin-left: -1em;
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkSwap .path4:before {
    content: "\e9c1";
    margin-left: -1em;
    color: rgb(32, 14, 50);
}
.iconly-bulkTick-Square .path1:before {
    content: "\e9c2";
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkTick-Square .path2:before {
    content: "\e9c3";
    margin-left: -1em;
    color: rgb(32, 14, 50);
}
.iconly-bulkTicket-Star .path1:before {
    content: "\e9c4";
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkTicket-Star .path2:before {
    content: "\e9c5";
    margin-left: -1em;
    color: rgb(32, 14, 50);
}
.iconly-bulkTicket .path1:before {
    content: "\e9c6";
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkTicket .path2:before {
    content: "\e9c7";
    margin-left: -1em;
    color: rgb(32, 14, 50);
}
.iconly-bulkTime-Circle .path1:before {
    content: "\e9c8";
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkTime-Circle .path2:before {
    content: "\e9c9";
    margin-left: -1em;
    color: rgb(32, 14, 50);
}
.iconly-bulkTime-Square .path1:before {
    content: "\e9ca";
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkTime-Square .path2:before {
    content: "\e9cb";
    margin-left: -1em;
    color: rgb(32, 14, 50);
}
.iconly-bulkUnlock .path1:before {
    content: "\e9cc";
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkUnlock .path2:before {
    content: "\e9cd";
    margin-left: -1em;
    color: rgb(32, 14, 50);
}
.iconly-bulkUpload .path1:before {
    content: "\e9ce";
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkUpload .path2:before {
    content: "\e9cf";
    margin-left: -1em;
    color: rgb(32, 14, 50);
}
.iconly-bulkVideo .path1:before {
    content: "\e9d0";
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkVideo .path2:before {
    content: "\e9d1";
    margin-left: -1em;
    color: rgb(32, 14, 50);
}
.iconly-bulkVoice-2 .path1:before {
    content: "\e9d2";
    color: rgb(32, 14, 50);
}
.iconly-bulkVoice-2 .path2:before {
    content: "\e9d3";
    margin-left: -1em;
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkVoice .path1:before {
    content: "\e9d4";
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkVoice .path2:before {
    content: "\e9d5";
    margin-left: -1em;
    color: rgb(32, 14, 50);
}
.iconly-bulkVolume-Down .path1:before {
    content: "\e9d6";
    color: rgb(32, 14, 50);
}
.iconly-bulkVolume-Down .path2:before {
    content: "\e9d7";
    margin-left: -1em;
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkVolume-Off .path1:before {
    content: "\e9d8";
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkVolume-Off .path2:before {
    content: "\e9d9";
    margin-left: -1em;
    color: rgb(32, 14, 50);
}
.iconly-bulkVolume-Up .path1:before {
    content: "\e9da";
    color: rgb(32, 14, 50);
}
.iconly-bulkVolume-Up .path2:before {
    content: "\e9db";
    margin-left: -1em;
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkVolume-Up .path3:before {
    content: "\e9dc";
    margin-left: -1em;
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkWallet .path1:before {
    content: "\e9dd";
    color: rgb(32, 14, 50);
}
.iconly-bulkWallet .path2:before {
    content: "\e9de";
    margin-left: -1em;
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkWallet .path3:before {
    content: "\e9df";
    margin-left: -1em;
    color: rgb(32, 14, 50);
}
.iconly-bulkWork .path1:before {
    content: "\e9e0";
    color: rgb(32, 14, 50);
    opacity: 0.4;
}
.iconly-bulkWork .path2:before {
    content: "\e9e1";
    margin-left: -1em;
    color: rgb(32, 14, 50);
}
.iconly-bulkWork .path3:before {
    content: "\e9e2";
    margin-left: -1em;
    color: rgb(32, 14, 50);
}
